body{
    background-image: url("silverwing.png");
    /*background-color: rgb(170, 176, 180);*/
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 100%;
}
p {
    text-align: center;
    font-size: 1.4rem;
    text-decoration: none;
}
.red {
    color: #ff0000;
}
.blue {
    color: #0000ff;
}
.green {
    color: #00ff00;
}
.center{
    text-align: center;
}
.upper{
    font-size: 1.4rem;
}
input, .trans{
    background: transparent;
    outline:black;
}
.justify-between{
    justify-content: space-evenly;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
input[type=radio] {
    position: absolute;
    width: 0;
    height: 0;
    display: none;
    left: -9999px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type=radio]+span {
    --bg-opacity: 1;
    background-color: white;
    --text-opacity: 1;
    color: black;
    border-width: 1px;
    --border-opacity: 1;
    border-color: #050505;
    line-height: 1;
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 9999px;
    cursor: pointer;
}
input[type="radio"]:checked ~ span {
    background-color: #4a5568;
    color: white
}
input:not([type=radio]) {
    display: block;
    margin: 0 auto;
    width: 25%;
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237,242,247,var(--bg-opacity));
    --text-opacity: 1;
    color: #4a5568;
    color: rgba(74,85,104,var(--text-opacity));
    border-width: 1px;
    --border-opacity: 1;
    border-color: #edf2f7;
    border-color: rgba(237,242,247,var(--border-opacity));
    border-radius: 9999px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.75rem;
    line-height: 1.25;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: azure;
}

td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}